{% extends 'base.html.twig' %}

{% block title %}Регистрация/StudyOn{% endblock %}

{% block body %}

    <div class="row justify-content-center m-0 mt-5 mb-5">
        <div class="col-5 d-flex flex-column form-security_style p-5">

            <h3 class="text-center mb-4">Регистрация</h3>

            {% if errors is defined %}
                <div class="alert alert-danger">
                    <p class="m-0"> {{ errors }}</p>
                </div>
            {% endif %}

            {{ form_start(form) }}
{#            {{ form_widget(form) }}#}
            <div class="form-group row">
                {{ form_label(form.username, form.username, { 'label_attr': {'class': 'text-center col-sm-4'} }) }}
                <div class="col-8">
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.password.first, form.password.first, { 'label_attr': {'class': 'text-center col-sm-4'} }) }}
                <div class="col-8">
                    {{ form_widget(form.password.first, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.password.second, form.password.second, { 'label_attr': {'class': 'text-center col-sm-4'} }) }}
                <div class="col-8">
                    {{ form_widget(form.password.second, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.surname, form.surname, { 'label_attr': {'class': 'text-center col-sm-4'} }) }}
                <div class="col-8">
                    {{ form_widget(form.surname, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.name, form.name, { 'label_attr': {'class': 'text-center col-sm-4'} }) }}
                <div class="col-8">
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.patronymic, form.patronymic, { 'label_attr': {'class': 'text-center col-sm-4'} }) }}
                <div class="col-8">
                    {{ form_widget(form.patronymic, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.nameCompany, form.nameCompany, { 'label_attr': {'class': 'text-center col-sm-4'} }) }}
                <div class="col-8">
                    {{ form_widget(form.nameCompany, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row d-flex justify-content-center">
                {{ form_widget(form.agreeTerms, {'attr': {'onMouseDown':'this.isChecked=this.checked','onClick':'this.checked=!this.isChecked;', 'style': 'cursor: pointer;'} }) }}
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-dark" type="submit">
                    Зарегистрироваться
                </button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}