<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand logo" data-content="Determination Of Tonality" href="{{ path('home') }}">
            Determination Of Tonality
        </a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="navbar__item display-buttons">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('adminka') }}" class="btn btn-outline-dark" role="button">Административная панель</a>
                {% endif %}
                <a href="{{ path('analyze') }}" class="btn btn-outline-dark" role="button">Анализ данных</a>
                <a href="{{ path('profile') }}" class="btn btn-outline-dark" role="button">Профиль</a>
                <a href="{{ path('history') }}" class="btn btn-outline-dark" role="button">История</a>
                <a href="{{ path('app_logout') }}" class="btn btn-outline-dark" role="button">Выход</a>
            </div>
        {% else %}
            {% if app.request.get('_route') == 'home' %}
                <div class="navbar__item w-25 justify-content-around display-methods">
                    <a href="#method" class="text-black-50" role="button">Методы</a>
                    <a href="#classificators" class="text-black-50" role="button">Классификаторы</a>
                </div>
            {% endif %}
        {% endif %}
            <button class="display-bar navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="dark-blue-text">
                <svg width="15" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
            </span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('adminka') }}" role="button">Административная панель</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('analyze') }}" class="nav-link" role="button">Анализ данных</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('profile') }}" class="nav-link" role="button">Профиль</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('history') }}" class="nav-link" role="button">История</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_logout') }}" class="nav-link" role="button">Выход</a>
                        </li>
                    </ul>
                {% else %}
                    {% if app.request.get('_route') == 'home' %}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="#method" class="text-black-50" role="button">Методы</a>
                            </li>
                            <li class="nav-item">
                                <a href="#classificators" class="text-black-50" role="button">Классификаторы</a>
                            </li>
                        </ul>
                    {% endif %}
                {% endif %}
            </div>
    </div>
</nav>