{% extends 'base.html.twig' %}

{% block title %}Determination Of Tonality / Анализ данных{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center h-75 mt-4">
        <div class="col-5 d-flex flex-column form-security_style p-5">

            <h3 class="text-center mb-4">Анализ данных</h3>

            {% if errors is defined %}
                <div class="alert alert-danger">
                    <p class="m-0"> {{ errors }}</p>
                </div>
            {% endif %}

            {{ form_start(form) }}
            <div class="form-group row d-flex align-items-center">
                {{ form_label(form.resource.name, form.resource.name, { 'label_attr': {'class': 'text-center col-sm-4'} }) }}
                <div class="col-8">
                    {{ form_widget(form.resource.name, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row d-flex align-items-center">
                {{ form_label(form.objectInQuestion.link, form.objectInQuestion.link, { 'label_attr': {'class': 'text-center col-sm-4'} }) }}
                <div class="col-8">
                    {{ form_widget(form.objectInQuestion.link, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row d-flex align-items-center">
                {{ form_label(form.model.name, form.model.name, { 'label_attr': {'class': 'text-center col-sm-4'} }) }}
                <div class="col-8">
                    {{ form_widget(form.model.name, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row d-flex align-items-center">
                {{ form_label(form.model.dataSet, form.model.dataSet, { 'label_attr': {'class': 'text-center col-sm-4'} }) }}
                <div class="col-8">
                    {{ form_widget(form.model.dataSet, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group row d-flex align-items-center">
                {{ form_label(form.model.classificator, form.model.classificator, { 'label_attr': {'class': 'text-center col-sm-4'} }) }}
                <div class="col-8">
                    {{ form_widget(form.model.classificator, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>


            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-dark" type="submit">
                    Применить
                </button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}