{% extends 'base.html.twig' %}

{% block title %}Determination Of Tonality / История{% endblock %}

{% block body %}
    <h1 class="font_title text-center mt-4">История</h1>
   <div class="container-fluid w-75">
       {% if reportsDto  %}
           <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-4">
               {% for report in reportsDto %}
                   <div class="col d-flex justify-content-center mb-2">
                       <div class="card h-100 form-history_style" style="width: 18rem;">
                           <div class="d-flex justify-content-center mt-4" style="height: 200px;">
                               <img src="{{ report.objectInQuestion.image }}" class="card-img-top history__img" alt="{{ report.objectInQuestion.name }}">
                           </div>
                           <div class="card-body">
                               <h5 class="card-title">
                                   <a data-trigger="hover" data-content="{{ report.objectInQuestion.name }}" data-placement="bottom" class="popover-title text-info text-decoration-none" href="{{ report.objectInQuestion.link }}">
                                    <span class="d-inline-block text-truncate w-100">
                                        {{ report.objectInQuestion.name }}
                                    </span>
                                   </a>
                               </h5>
                               <div class="d-flex justify-content-between">
                                   <a href="{{ host }}{{ report.objectInQuestion.fileReviews }}" class="btn btn-outline-info">Отзывы</a>
                                   <a href="{{ host }}{{ report.file }}" class="btn btn-outline-info">Отчет</a>
                               </div>
                           </div>
                           <ul class="list-group list-group-flush">
                               <li class="list-group-item">
                                   <p><strong>Модель:</strong> {{ report.objectInQuestion.model.name }}</p>
                                   <p><strong>Корпус данных:</strong> {{ report.objectInQuestion.model.dataSet }}</p>
                                   <p><strong>Классификатор:</strong> {{ report.objectInQuestion.model.classificator }}</p>
                               </li>
                               <li class="list-group-item">
                                   <p>
                                       <strong>Ресурс:</strong>
                                       <a href="{{ report.objectInQuestion.resource.link }}" class="text-info text-decoration-none">
                                           {{ report.objectInQuestion.resource.name }}
                                       </a>
                                   </p>
                               </li>
                           </ul>
                           <div class="card-footer d-flex justify-content-center">
                               <p class="font__date">{{ report.createdAt }}</p>
                           </div>
                       </div>
                   </div>
               {% endfor %}
           </div>
       {% else %}
            <p class="text-center text-secondary mt-5">Нет ни одной записи</p>
           <p class="text-center text-secondary">...</p>
       {% endif %}
   </div>
{% endblock %}